@font-face {
    font-family: 'CodecPro-ExtraBold';
    src:url('../fonts/codec/CodecPro-ExtraBold.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-ExtraBold.woff') format('woff'), 
    url('../fonts/codec/CodecPro-ExtraBold.svg#CodecPro-ExtraBold') format('svg'),
    url('../fonts/codec/CodecPro-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
} 
@font-face {
    font-family: 'CodecPro-News';
    src:url('../fonts/codec/CodecPro-News.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-News.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-News.woff') format('woff'), 
    url('../fonts/codec/CodecPro-News.svg#CodecPro-News') format('svg'),
    url('../fonts/codec/CodecPro-News.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CodecPro-Light';
    src:url('../fonts/codec/CodecPro-Light.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-Light.woff') format('woff'), 
    url('../fonts/codec/CodecPro-Light.svg#CodecPro-Light') format('svg'),
    url('../fonts/codec/CodecPro-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
} 
@font-face {
    font-family: 'CodecPro-Bold';
    src:url('../fonts/codec/CodecPro-Bold.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-Bold.woff') format('woff'), 
    url('../fonts/codec/CodecPro-Bold.svg#CodecPro-Bold') format('svg'),
    url('../fonts/codec/CodecPro-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
} 
@font-face {
    font-family: 'CodecPro-Heavy';
    src:url('../fonts/codec/CodecPro-Heavy.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-Heavy.woff') format('woff'), 
    url('../fonts/codec/CodecPro-Heavy.svg#CodecPro-Heavy') format('svg'),
    url('../fonts/codec/CodecPro-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
} 
@font-face {
    font-family: 'CodecPro-Regular';
    src:url('../fonts/codec/CodecPro-Regular.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-Regular.woff') format('woff'), 
    url('../fonts/codec/CodecPro-Regular.svg#CodecPro-Regular') format('svg'),
    url('../fonts/codec/CodecPro-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
} 
@font-face {
    font-family: 'SuisseIntl-SemiBold';
    src:url('../fonts/SuisseIntl-SemiBold-WebXL.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl-Bold';
    src:url('../fonts/SuisseIntl-Bold-WebXL.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} 
@font-face {
    font-family: 'SuisseIntl-Medium';
    src:url('../fonts/SuisseIntl-Medium-WebXL.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} 
@font-face {
    font-family: 'SuisseIntl-Regular';
    src:url('../fonts/SuisseIntl-Regular-WebXL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 
@font-face {
    font-family: 'SuisseIntl-Black';
    src:url('../fonts/SuisseIntl-Black-WebXL.woff') format('woff'); 
    font-weight: 900;
    font-style: normal;
    font-display: swap;
} 
