/*fonts*/

@font-face {
    font-family: 'CodecPro-Extra-Bold';
    src:url('../fonts/codec/CodecPro-ExtraBold.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-ExtraBold.woff') format('woff'),
    url('../fonts/codec/CodecPro-ExtraBold.svg#CodecPro-ExtraBold') format('svg'),
    url('../fonts/codec/CodecPro-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'CodecPro-news';
    src:url('../fonts/codec/CodecPro-News.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-News.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-News.woff') format('woff'),
    url('../fonts/codec/CodecPro-News.svg#CodecPro-News') format('svg'),
    url('../fonts/codec/CodecPro-News.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CodecPro-Light';
    src:url('../fonts/codec/CodecPro-Light.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-Light.woff') format('woff'),
    url('../fonts/codec/CodecPro-Light.svg#CodecPro-Light') format('svg'),
    url('../fonts/codec/CodecPro-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'CodecPro-Bold';
    src:url('../fonts/codec/CodecPro-Bold.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-Bold.woff') format('woff'),
    url('../fonts/codec/CodecPro-Bold.svg#CodecPro-Bold') format('svg'),
    url('../fonts/codec/CodecPro-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'CodecPro-Heavy';
    src:url('../fonts/codec/CodecPro-Heavy.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-Heavy.woff') format('woff'),
    url('../fonts/codec/CodecPro-Heavy.svg#CodecPro-Heavy') format('svg'),
    url('../fonts/codec/CodecPro-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'CodecPro-Regular';
    src:url('../fonts/codec/CodecPro-Regular.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-Regular.woff') format('woff'),
    url('../fonts/codec/CodecPro-Regular.svg#CodecPro-Regular') format('svg'),
    url('../fonts/codec/CodecPro-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl';
    src:url('../fonts/SuisseIntl-SemiBold-WebXL.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl';
    src:url('../fonts/SuisseIntl-Bold-WebXL.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl';
    src:url('../fonts/SuisseIntl-Medium-WebXL.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl';
    src:url('../fonts/SuisseIntl-Regular-WebXL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl';
    src:url('../fonts/SuisseIntl-Black-WebXL.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


/*Подключение шрифтов*/



/*sinteza 2.0*/
body{
   -webkit-box-sizing: border-box;
   box-sizing: border-box;

   overflow-x: hidden;

   font-family: sans-serif;

   margin: 0;
   padding: 0;

   font-family: "CodecPro-Light", sans-serif;
}

h1,h2,h3,h4,h5,h6{
   margin: 0;
   padding: 0;
}

*,
*:before,
*:after{
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}


/**/
/*Header*/
/***/
header{
   width: 100%;
}

.header-block{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding: 18px 00 16px;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin-bottom: 34px;

/*
   height: 73px;
   align-items: center;
*/
}

.header-icon-1{
   width: 24px;
   height: 24px;
}

.header-icor-corcle{
   width: 37px;
   height: 37px;
   border-radius: 50%;
   background-color: #000000;
   position: relative;
   bottom: 4px;
}

.header-counter{
   min-width: 11px;
   min-height: 11px;
   border-radius: 5.5px;
   position: absolute;
   top: 6px;
   left: 4px;
   background-color: #FFFFFF;
   font-size: 10px;
   line-height: 9px;
   padding: 2px 4px 1px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   z-index: 10;
}

.header-icor-corcle img{
   position: absolute;
   top: 9px;
   right :4px;
}

.header-left{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   position: relative;
}

.header-left a{
   color: #000000;
   text-decoration: none;
}

.header-left__link{
   margin-left: 25px;
   font-size: 13px;
   line-height: 11.5px;
   font-family: "CodecPro-Regular";
}

.header-left__link-logo{
   text-align: center;
   color: #000000;
   text-decoration: none;
   position: relative;
   top:-1px;

   font-family: "CodecPro-Regular";
}

.header-left__link-logo span{
   font-size: 8px;
   line-height: 9px;
   margin-top: 2px;

}

.header-left__link-logo span,
.header-left__link-logo img{
   display: block;
}



.header-right{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.header-telephone{
   padding-right: 14px;
   border-right: 1px solid #000000;
   font-size: 15px;
   line-height: 22px;
   color: #000000;

   font-family: "CodecPro-Regular";
}

.header-telephone a{
   text-decoration: none;
   color: #000000;
}

.header-right__icons{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-left: 11px;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.header-icon{
   margin-left: 4px;
}

.header-left__link-sinteza-arr{
   position: relative;
   bottom:2px;
}

.drop-down-menu__button{
   margin-right: 12px;
   cursor: pointer;
   display: none;
   padding: 7px;
}

.drop-down-menu__button img{
   display: block;
}

.drop-down-menu__button img:first-child{
   margin-bottom: 5px;
}

.drop-down-menu{
   background-color: rgba(0,0,0, 0.7);
   padding: 20px 40px;
   position: absolute;
   top:40px;
   display: none;
   min-width: 200px;
   z-index: 100;
}

.drop-down-menu-active{
   display: block;
}

.drop-down-menu a{
   display: block;
   padding: 10px 0;
   color: #FFFFFF;
   margin-left: 0;
}

/**/
/*Footer*/
/**/

footer{
   width: 100%;
}

.footer-wrapper{
/*   background-color: #FFF767;*/
}

.footer-top{
   padding-top: 141px;
   padding-bottom: 75px;
   background-color: #FFF767;
}

.footer-link__block{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
      -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.foter-link__block-item{
   width: 50%;
   margin-bottom: 65px;
   font-weight:300;
}

.foter-link__block-item a{
   margin-right: 30px;
}

.foter-link__block-item a{
   font-size: 82px;
   text-decoration: none;
   color: #000000;
   line-height: 70px;
}

.mailing{
   width: 100%;
}

.mailing-text{
   width:465px ;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 40px;
}

.mailing-form{
   padding-bottom:5px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;

   width: 100%;
   position: relative;
/*   border-bottom: 3px solid #000000;*/
}

.mailing-form:after{
   content:"";
   height: 3px;
   width: 100%;
   background-color: black;
   position: absolute;
   bottom:0;
}

.mailing-form input{
   outline: none !important;
   width: 60%;
   background-color: transparent;
   border: none;
   font-size: 14px;
   line-height: 24px;
}


.mailing-form input:active,
.mailing-form input:focus,{
   outline: none !important;
}

.mailing-form button{
   width: 172px;
   height: 38px;
   background-color: #000000;
   border: none;
   cursor: pointer;
}

.mailing-input::-webkit-input-placeholder {color:#000000;}
.mailing-input::-moz-placeholder {color:#000000;}
.mailing-input:-moz-placeholder {color:#000000;}
.mailing-input:-ms-input-placeholder {color:#000000;}

.mailing-input:placeholder{
   color:#000000;
}

.mailing-button{
   position: relative;
}

.mailing-button__img{
   position: absolute;
   top: 3px;
   right: 6px;
}

.footer-bottom{
   width: 100%;
   padding-top: 64px;
   padding-bottom: 32px;
}

.footer-bottom__block{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.footer-bottom__left a,
.footer-bottom__left-right a{
   display: block;
   color: #000000;
   text-decoration: none;
   font-size: 10px;
   line-height: 27px;
   font-weight: 400;
}

.footer-bottom__left{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   width: 50%;
   margin-right: 150px;

   font-family: "CodecPro-Regular";
}

.footer-bottom__right{
   width: 50%;
   margin-left: 150px;
   font-family: "CodecPro-Regular";
}
.footer-bottom__right-top{
   margin-bottom: 54px;
}

.footer-bottom__right-top a{
   display: block;
   color: #000000;
}

.footer-bottom__right-top a:first-child{
   text-decoration: none;
}

.footer-bottom__right-top a,
.footer-bottom__right-top div{
   font-size: 10px;
   line-height: 22px;
   font-weight: 400;
}

.footer-bottom__right-bottom{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   font-size: 10px;
   line-height: 8px;
   color: #818181;
   font-weight: 400;
}

.footer--max{
   color: #818181;
}

.footer-telephone{
   text-decoration: none;
   position: relative;
}



/***/
/*main*/
/***/
.delivery-main{
}

.delivery-container{
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 10px;
}

.delivery-h1{
   font-family: 'CodecPro-Bold';
   font-size: 67px;
   line-height: 68px;
   font-weight: 700;
   margin-bottom: 50px;
}

.content{
   width: 100%;
}

.content-link{
   width: 100%;
   margin-bottom: 45px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.content-link_left{
   width: 40%;
   font-size: 16px;
   line-height: 20px;

   font-family: "CodecPro-Bold";
}

.content-link_right{
   width: 60%;
}

.delivery-border{
    border-bottom: 1px solid #D8D8D8;
}

.content-link_right-info{
}

.content-link_right-info p{
   color: rgba(0, 0, 0, 0.4);
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 35px;
}

.content-link_right-info h4{
   font-size: 14px;
   line-height: 20px;
   margin-bottom: 8px;

   font-weight: 400;
}

.content-link_right-info p{
   font-family: "CodecPro-News";
   font-size: 16px;
}


.our-delivery{
   padding-bottom: 50px;
}

.our-delivery__block{
   width: 100%;
   padding-left: 15px;
}

.our-delivery{
   margin-bottom: 60px;
   background-color: rgba(0, 89, 99, 0.8);
   padding-top: 26px;
   width: 100%;

   font-weight: 300;
}

.our-delivery-h{
   margin-bottom: 80px;
   font-size: 10px;
   line-height: 20px;
   color: #FFFFFF;

   font-family: "CodecPro";
   font-weight:300;
}


.our-delivery__content-block{
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.our-delivery__link{
   width: 100%;
   max-width: 311px;
}

.our-delivery__link-h{
   font-size: 40px;
   line-height: 46px;
   margin-bottom: 9px;
   color: #FFFFFF;

   font-family: "CodecPro";
   font-weight: 300;
}

.our-delivery__link-info{
   color: #FFFFFF;
   opacity: 0.6;

   font-family: "CodecPro";
   font-weight: 300;
   font-size: 14px;
   line-height: 18px;
}

.delivery-map{
   width: 100%;
   height: 375px;
   position: relative;
   overflow: hidden;
   margin-bottom: 80px;
}

.map-link{
   padding: 15px 75px 13px 17px;
   background-color: #000000;
   position: absolute;
   bottom:0;
   left:0;
   text-decoration: none;
   color: #FFFFFF;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   font-size: 16px;
   line-height: 24px;

   font-family: 'CodecPro-news';
}

.map-link img{
   margin-left: 6px;
   position: relative;
   bottom:4px;
}

.map-link span{
   font-family: "CodecPro";
   font-weight: 300;
   font-size: 16;
   line-height: 24;
}

.content-link:last-child{
   padding-top: 35px;
}



/*Media delivery*/
/*
*
Media
*
*/

@media(max-width:1200px){


   .our-delivery__link{
      width: 33%;
      margin: 0 15px;
   }

   .our-delivery__link-h{
      font-size: 36px;
   }

   .foter-link__block-item a{
      font-size: 70px;
   }

   .foter-link__block-item img{
      width: 50px;
   }

   .header-left__link{
      margin-left: 19px;
   }
}


@media(max-width:1024px){
   .header-left__link{
      display: none;
   }

   .header-telephone{
      display: none;
   }

   .drop-down-menu__button{
      display: block;
   }
}





@media(max-width:992px){
   .header-left__link{
      display: none;
   }

   delivery-h1{
      font-size: 50px;
   }

   .foter-link__block-item a{
      font-size: 50px;
      margin-right: 10px;
   }

   .foter-link__block-item img{
      width: 36px;
   }
}




@media(max-width:768px){


   .delivery-h1{
      font-size: 60px;
      line-height: 60px;
   }

   .content-link_right{
      width: 100%;
   }

   .our-delivery__content-block{
      display: block;
   }

   .our-delivery__link{
      width: 100%;
      margin-bottom: 35px;
   }

/*
   .map-link{
      width: 100%;
   }
*/

   .content-link{
      display: block;
   }

   .content-link_left{
      margin-bottom: 20px;
   }

   .footer-bottom__block{
      display: block;
   }

   .footer-bottom__left{
      width: 100%;
      margin-bottom: 30px;
   }

   .footer-bottom__right{
      width: 100%;
      margin-left: 0;
   }

   .footer-top{
      padding-top: 110px;
   }

   .foter-link__block-item{
      width: 100%;
      margin-bottom: 35px;
   }

   .our-delivery__content-block{
      margin-left: -15px;
   }

   .mailing-text{
      width: 100%;
   }


}


@media(max-width:480px){

   .map-link{
      width: 100%;
      padding-right: 0;
   }


   .delivery-h1{
      font-size: 50px;
       line-height: 50px;
   }

   .our-delivery__block{
      padding-left: 0;
   }

   .mailing-form button{
      width: 103px;
      height: 32px;
   }

   .mailing-button__img{
      width: 20px;
   }

   .content-2 content-link{
      margin-bottom: 35px;
   }

   .content-link.content-link-45{
      margin-bottom: 30px;
   }

   .content-link_right-info p{
      margin-bottom: 20px;
      font-size: 14px;
   }

   .mailing-form:after{
      height: 1.5px;
   }
}


@media(max-width: 320px){
   .mailing-button{
      width: 103px;
   }

   .delivery-container{
      width: 100%;
      padding: 0 10px;
   }

   .header-left__link-logo span{
      font-size:7px;
      line-height: 8px;
   }

   .header-left__link-logo img{
      width: 72px;
      height: 17px;
   }

   .delivery-h1{
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 20px;
   }

   .content-link_left{
      font-size:14px;
      line-height: 17px;
      width: 100%;
      margin-bottom: 10px;
   }

   .content-link{
      display: block;
      margin-bottom: 10px;
   }

   .content-link_right{
      width: 100%;
   }

   .content-link_right-inf{
      margin-bottom: 20px;
   }

   .our-delivery{
      margin: 0;
      padding: 30px 0;
      margin-bottom: 30px;
   }

   .our-delivery-h{
      font-size: 10px;
      line-height: 20px;
      margin-bottom: 55px;
   }

   our-delivery__content-block{
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 5px;
   }

   .our-delivery__link-h{
      font-size: 34px;
      line-height: 46px;
   }

   .our-delivery__link{
      margin-bottom: 35px;
   }


   .footer-top{
      padding-top:74px;
      padding-bottom: 20px;
   }

   .footer-link__block{
      margin-bottom: 10px;
   }

   .foter-link__block-item{
      font-size: 50px;
      line-height: 42px;
   }

   .foter-link__block-item{
      margin-bottom: 38px;
   }

   .mailing-text{
      font-size:14px;
      line-height: 24px;
      margin-bottom: 24px;
   }

   .footer-bottom__block{
      display: block;
   }

   .footer-bottom__left{
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
   }

   .mailing-button{
      margin-right: -15px;
   }

   .foter-link__block-item a{
      font-size:50px;
   }

   .foter-link__block-item img{

   }

   .footer-bottom__left{
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
   }

   .footer-bottom__left-left,
   .footer-bottom__left-right{
      width: 50%;
   }

   .footer-bottom__left-left{
      margin-right: 50px;
   }

   .mailing-form:after{
      content:"";
      height: 1.5px;
      width: calc(100% + 30px);
      color: red;
      position: absolute;
      left: -15px;
   }

   .foter-link__block-item a{
      font-size: 45px;
      margin-right: 0;
   }

   .foter-link__block-item img{
      width: 32px;
   }

}




/*Страница FAQ*/
.faq-container{
   width: 100%;
   max-width: 1180px;
   margin: 0 auto;
}

.faq-block{
   margin-bottom: 50px;
}

.faq-main-title{
   font-family: 'CodecPro-Bold';
   font-size: 120px;
   margin-bottom: 50px;
}

.faq-link{
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   position: relative;
   min-height: 90px;
}

.faq-link:after{
   content:"";
   height: 3px;
   width: 100%;
   background-color: black;
   position: absolute;
   bottom:0;
   right: 0;
   left: 0;
}

.faq-link:last-child{
   border-bottom: none;
}

.faq-link__question{
   font-family: 'CodecPro-Extra-Bold';

   font-size: 14px;
   line-height:18px;
   width: 30%;
   margin-right: 40px;
   padding-top: 15px;
   margin-bottom: 40px;
   font-weight: 800;
}

.faq-link__answer{
   font-size: 16px;
   line-height: 24px;
   width: 570px;
   margin-bottom: 99px;
   display: none;
   padding-top: 15px;
}

.answer-display-block{
   display: block;
}

.faq-open-close{
   width: 152px;
   height: 38px;
   background-color:#FFF658;
   border: none;
   right:0;
   top: 3px;
   position: absolute;

   -webkit-transition-duration: 0.5s;

   transition-duration: 0.5s;
}

.faq-link__button-wrap{
   position: relative;
}

.faq-button-arr{
   position: relative;
   right: -52px;
   top: 3px;

   -webkit-transition-duration: 0.4s;

   transition-duration: 0.4s;
}

.quest-check{
   -webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
   width: 0;
   height: 0;
   position: absolute;
}

.quest-check:checked ~ .faq-link__answer{
   display: block;

}

.quest-check:checked{
   -webkit-transition: 2s;
   transition: 2s;
}

.faq-button-arr-opened{
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
}



.bottom-arr{
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);

   top: 3;
}

.opened-answer{
   top: calc(100% - 38px - 6px);
}

.bold-link{
   font-family: "CodecPro-Bold";
   text-decoration: none;
   color: #000000;
}

/*media FAQ*/

@media(max-width:1200px){
   .faq-container{
      padding: 0 40px;
   }

   .faq-main-title{
      font-size: 100px;
   }
}


@media(max-width:992px){
   .faq-main-title{
      font-size: 90px;
   }

   .faq-open-close opened-answer{
      width: 140px;
   }

}


@media(max-width:768px){
   .faq-link__answer{
      margin-bottom: 0px;
   }

   .faq-link__question{
      margin-bottom: 10px;
   }



   .faq-main-title{
      font-size:70px;
   }

   .faq-link__answer answer-display-block{
      margin-bottom: 70px;
   }

   .delivery-container{
      padding: 0 15px;
   }

   .faq-link__answer answer-display-block{
      width: 100%;
   }

   .faq-link{
      display: block;
   }

   .faq-link__answer{
      width: 100%;
   }

   .faq-container{
      padding: 0 10px;
   }

   .footer-top{
      padding-top: 74px;
   }

   .foter-link__block-item a{
      line-height: 43px;
   }

   .faq-open-close{
      position: relative;
      top: -6px;
      left: calc(100% - 158px);
   }

   .faq-link__answer{
      margin-bottom: 35px;
   }
}


@media(max-width:480px){

   .faq-link{
      display: block;
   }

   .faq-open-close {
      top: calc(100% - 41px);
      margin-left: 8px;
   }

   .faq-link__question{
      padding: 0;
      margin-bottom: 8px;
      width: 100%;
      margin-right: 0px;
   }

   .faq-link__answer{
      padding: 0;
      margin-bottom: 35px;
   }

   .faq-link{
      padding-bottom: 2px;
   }

   .faq-open-close{
      position: relative;
      left: calc(100% - 126px);
      width: 126px;
      height: 38px;
   }

   .faq-link{
      min-height: 0px;
      padding-top: 15px;
   }

   .faq-open-close img{
      width: 16px;
      top:2px;
      right: -48px;
   }

   .footer-bottom{
      padding-top: 20px;
      padding-bottom: 20px;
   }

   .footer-bottom__right-top{
      margin-bottom: 30px;
   }

   .faq-link:after{
      width: calc(100% + 20px);
      margin-left: -10px;
   }

   .faq-link__answer{
      font-size: 14px;
      line-height: 21px;
   }

   .faq-open-close{
      top: -4px;
   }

   .faq-open-close{
      margin-top: 20px;
   }

   .faq-link__answer{
      margin-bottom: 0;
   }

   .desctop-br{
      display: none;
   }

}


@media(max-width:320px){

}











/**/
/*Страница Collection*/
/**/
.coll-slider__link.swiper-slide{
      width:auto;
   }


   .swiper-1 {
      margin-top: 28px;
   }

.ideas-link.swiper-slide{
      width: auto;
   }

.collection-container{
}





.collection-container{
   width: 100%;
   margin: 0 auto;
   max-width: 1200px;
   padding: 0 10px;
}


.collection-main-title{
   font-size: 67px;
   line-height: 68px;
   margin-bottom: 50px;

   font-family: "CodecPro-Bold";
}

.collection-photo{
   position: relative;
}

.signature-photo{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin-bottom: 60px;
}

.signature-date{
   font-size: 16px;
   line-height: 19px;
}

.signeture__photo-video{
   font-size: 10px;
   line-height: 12px;
}

.signeture__photo-video span:nth-child(2){
   margin-left: 37px;
}

.colection-info{
   width: 100%;
   max-width: 894px;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 92px;
}

.collection-slider__title{
   font-family: "CodecPro-Bold";

   font-size: 16px;
   line-height: 22px;
   margin-bottom: 28px;
   font-weight: 700;
}

.block-photo{
   width: 100%;
   margin-bottom: 21px;
   position: relative;
}

.block-photo img{
   width: 100%;
}

.collection-share{
/*   padding: 24px 52px 30px 36px;*/
   padding: 30px 70px 30px 30px;
   background-color:rgba(254, 80, 0, 0.8);
   position: absolute;
   top:-43px;
   right: -50px;
}

.collection-share__title{
   font-size: 10px;
   line-height: 8px;
   margin-bottom: 60px;
   color: #FFFFFF;
}

.collection-share__links-block{
   margin-top: 20px;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.links-block__link{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   color: #FFFFFF;
   text-decoration: none;
   margin-right: 20px;
}
.links-block__link span{
   margin-right: 5px;
   font-size: 19px;
   line-height: 16px;
   font-weight: 300;
}

.links-block__link img{
   position: relative;
   top:-1px;
}

.collection-slider-block{
   margin-bottom: 80px;
   position: relative;
}

.coll-arr{
   position: absolute;
   top: 175px;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.coll-arr-left{
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
   left: 130px;
   z-index: 100;
}

.coll-arr-right{
   right: 90px;
   z-index: 100;
}

.coll-slider__link-photo__wrapper{
   background-color: #FAFAFA;
   height: 367px;
   min-width: 280px;
   padding: 30px;
   position: relative;
   border-radius: 6px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   min-width: 0;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   margin-bottom: 18px;
}

.coll-slider__link-photo__wrapper-big{
   padding: 0 60px;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.slider-start{
   position: absolute;
   top: 17px;
   right: 13px;
}

.coll-slider__info{
   font-size: 12px;
   line-height: 15px;
   margin-bottom: 16px;
   max-width: 200px;
}

.coll-slider__price{
   font-family: "CodecPro-news", sans-serif;
}

.collection__old-price{
   opacity: 0.2;
   text-decoration: line-through;
}

.coll-slider{
   min-width: 0;
}

.slider-in-buscket-button{
   border: none;
   background-color: #000000;
   padding: 8px 27px 8px 9px;
   color: #FFFFFF;
   position: absolute;
   bottom:-9px;
   right: -8px;
   font-size: 12px;
   line-height: 18px;
   border-radius: 0;
   font-family: 'CodecPro-news';
}

.bot-slider__title{
   font-size: 16px;
   line-height: 20px;
   font-weight: 700;
   margin-bottom: 28px;
   margin-left: 15px;

   font-family:"CodecPro-Bold";
}

.ideas-link{
   margin: 0 15px;
}

.ideas-link-photo{
   margin-bottom: 28px;
}

.bott-slider-wrapper{
   margin-top: 28px;
}

.bottom-slider{
   margin-bottom: 80px;
   margin-left: -15px;
}


.ideas-link__bottom{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.ideas-link__bottom-date{
   font-size: 10px;
   line-height: 12px;
   color:#676767;
}

.coll-photos-wrapper{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.slick-track{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.container-slider-bottom{
}




/*media collection*/
@media(max-width:1200px){
   .container-slider-bottom{
      margin-left: 0;
   }


   .collection-main-title{
      font-size:60px;
      line-height: 60px;
   }

   .colection-info{
      font-size: 14px;
   }

   .collection-share{
      padding: 21px 52px 23px 26px;
      right: -10px;
   }

   .coll-arr-left{
      left: 3px;
   }

   .coll-arr-right{
      right: 3px;
   }

   .bottom-slider{
      margin-left: 0px;
   }


}


@media(max-width:992px){

}


@media(max-width:768px){
   .collection-share{
      top: calc(100% - 45px);
      right: -14px;

      opacity: 0.9;
   }

   .collection-main-title{
      font-size: 48px;
      line-height: 50px;
   }

   .photo-block__wrapper{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
   }

   .block-photo{
      width: 100%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      margin-bottom: 100px;
   }

   .signature-photo{
      width: 100%;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      margin-bottom: 45px;
   }

   .coll-slider__link{
      height: 230px;
   }

   .coll-arr-right{
      right: 3px;
   }

   .coll-arr-left {
      left:  3px;
   }

   .ideas-link-photo img{
      height: 200px;
      width: 290px;
   }

   .collection-share__title{
      margin-bottom: 0;
   }

   .ideas-link__bottom-descr{
      font-size: 12px;
   }

}


@media(max-width:480px){
   .collection-main-title{
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 20px;
   }

   .signature-date,
   .signeture__photo-video{
      font-size: 10px;
      line-height: 12px;
   }

   .signeture__photo-video span{
      margin-left: 31px;
   }

   .signature-photo{
      margin-bottom: 8px;
   }

   .collection-share span{
      margin-bottom: 0;
   }

   .coll-arr {
      display: none;
   }

   .coll-slider__link-photo__wrapper{
      height: 180px;
       padding: 10px;
   }

   .colection-info{
      font-size: 14px;
      line-height: 21px;

   }


   .collection-share__links-block{
      margin-top: 30px;
   }

   .colection-info{
      margin-bottom: 50px;
   }
   .collection-slider__title{
      margin-bottom: 20px;
   }

   .swiper-1{
      margin-top: 20px;
   }

   .coll-slider__info{
      font-size: 12;
      line-height: 15px;
      margin-bottom: 15px;
   }

   .coll-slider__price{
      font-size: 18px;
      line-height: 18px;
   }

   .collection-share{
      padding: 14px 0 14px 14px;
   }

   .collection-share__title{
      font-size: 10px;
      line-height: 9px;
   }

   .links-block__link{
      margin-right: 16px;
   }

   .links-block__link span{
      font-size: 16px;
      line-height: 14px;
      margin-right: 3px;
   }

   .links-block__link img{
      position: relative;
      width: 12px;
      top: -2px;
   }

   .block-photo{
      margin-bottom: 70px;
   }

   .slider-in-buscket-button{
      padding: 3px 17px 3px 6px;
      font-size: 12px;
      line-height: 19px;
   }

   .coll-slider-product-img{
      height: 80%;
   }

   .swiper-1{
      margin-top: 20px;
   }

   .ideas-link__bottom-descr{
      font-size: 10px;
      line-height: 12px;
   }

   .ideas-link-photo{
      margin-bottom: 10px;
   }

.container-slider-bottom{
      width:calc(100% + 15px);
      padding: 0;
      margin-left: -10px;
   }
}


@media(max-width:320px){

}











/*гарантия warranty*/

.warranty-container{
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 10px;
   position: relative;
}

.warranty-title{
   font-family: "CodecPro-Bold";

   font-size: 67px;
   line-height: 68px;
   font-weight: 700;
   margin-bottom: 71px;
}

.warranty-slider__title{
   font-family: "CodecPro-Bold";

   font-size: 16px;
   line-height: 22px;
   font-weight: 700;
   margin-bottom: 61px;
}




.active-warranty{
   position: rel;
   top:0;
   left:0;
}

.waranty-slider-block{
   margin-bottom: 105px;
}

.warranty-conditions{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-bottom: 80px;
}

.warranty-conditions-left{
   font-family: "CodecPro-Bold";

   width: 40%;
   font-weight: 700;
   font-size: 16px;
   line-height: 22px;
}

.warranty-conditions-right{
   font-size: 16px;
   line-height: 24px;
   font-weight: 300;
}

.warranty-slider__wrapper{
   overflow-x: hidden;
   position: relative;

}

.arrows-warrancy-slider-block{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   width: 80vw;
   max-width: 600px;

   position: absolute;
   z-index: 100;

   top: 50%;
   left: 50%;
   margin-right: -50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%)
}

.warranty-slider{
   height: 645px;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;

   display: -webkit-box;

   display: -ms-flexbox;

   display: flex;
   margin: 0 auto;
}


.slide-warranty{
   max-height: 538px;
}

.slide-warranty.carousel-center:hover{
   cursor:zoom-in;
}

.mobile-br{
   display: none;
}

.carousel-center.warranty-slide-big-img{
   height: 800px;!important
}

.warrancy-slider-arrow{
   position: absolute;
   top: calc(50% - 30px);
   z-index: 1000;
}

.warrancy-slider-arrow-left{
   left: 250px;
}

.warrancy-slider-arrow-right{
   right: 250px;
}



.big-slide-wrapper{
   height: 95vh;
   z-index: 1000;
   position: fixed;
   width: 80;
   margin: 0 auto;
   left: 0;
   right: 0;

   display: none;
   text-align: center;
   top:10px;


}

.big-slide-wrapper img{
   height: 100%;
}



/*media*/

@media(max-width: 1100px){
   .warrancy-slider-arrow-left{
   left:150px;
}

.warrancy-slider-arrow-right{
   right: 150px;
}
}

@media(max-width:950px){
   .warrancy-slider-arrow-left{
   left: 100px;
}

.warrancy-slider-arrow-right{
   right: 100px;
}
}

@media(max-width:768px){
   .arrows-warrancy-slider-block{
      width: 450px;
   }

   .warrancy-slider-arrow img{
      width: 60px;
   }

   .slide-warranty{
      height: 450px;
   }

   .warranty-slider {
      height: 510px;
   }

   .waranty-slider-block{
      margin-bottom: 20px;
   }
}

@media(max-width:800px){
   .warrancy-slider-arrow-left{
      left: 50px;
   }

   .warrancy-slider-arrow-right{
      right: 50px;
   }
}

@media(max-width:480px){
   .warranty-title{
      font-size: 28px;
      line-height: 29px;
      margin-bottom: 20px;
   }

   .slide-warranty{
      height: 262px;
   }

   .warranty-slider{
      height: 287px;
   }

   .waranty-slider-block{
      margin-bottom: 30px;
   }

   .warranty-conditions-left{
      width: 100%;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 10px;
   }

   .warranty-conditions-right{
      font-size: 14px;
      line-height: 21px;
   }

   .warranty-conditions{
      margin-bottom: 50px;
   }

   .warranty-conditions{
      display: block;
   }

   .warrancy-slider-arrow img{
      width: 20px;
   }

   .arrows-warrancy-slider-block{
      width: 300px;
   }

   .mobile-br{
      display: block;
   }

   .warrancy-slider-arrow{
      top: 50%;
   }

   .big-slide-wrapper{
/*      bottom:20px;*/
   }

   .big-slide-wrapper img{
      max-width: 80%;
      max-height: 80vh;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      height: auto;
   }
}


/*Главная страница*/

.main-container{
   width: 100%;
   max-width: 1200px;
   padding: 0 10px;
   margin: auto;
}

.main-slider__item{
   width: 100%;
}

.main-slider__item img{
   width: 100%;
   height: 100%;
   display: block;
}

.main-slider-first{
   margin-bottom: 22px;
}


.main-slider__signature{
   font-family: 'CodecPro-Light';
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align:end;
   -ms-flex-align:end;
   align-items:flex-end;

   margin-bottom: 80px;
}

.main-slider__signature-name{
   font-size: 16px;
   line-height: 14px;
}

.main-slider__signature-signatures{
   font-size: 10px;
   line-height: 9px;
   color:#676767;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   width: 50%;
}

.main-links-block{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin-bottom: 80px;

}

.main-links__item{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.main-links__item span{
   font-size: 75px;
   line-height: 64px;
   margin: 0 27px 0 5px;
   position: relative;
   top: 8px;
   letter-spacing: -5px;
}

.main-links__item .arrow{
   position: relative;
   top:3px;
}

.main-slider-2{
   margin-bottom: 80px;
}

.our-advantages-main__wrapper{
   position: relative;
   margin-bottom: 240px;
}

.our-advantages-main__wrapper:after{
   content:"";
   height: 350px;
   width: calc(100% + 300px);
   margin-left: -150px;
   background-color:#337A82;
   -webkit-transform: rotate(4deg);
   transform: rotate(4deg);
   top: 0;
   position: absolute;
   z-index: -100;
}

.our-advantages__main{
   width: 100%;
   height: 100px;
   background-color: transparent;
   z-index: 100;
}

.our-advantages__main-title{
   margin-bottom: 84px;
   font-size: 10px;
   line-height: 20px;
   color: #FFFFFF;
}

.our-advantages__main-content{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin-top: 84px;
}

.our-delivery-h,
.our-delivery__link-h,
.our-delivery__link-info{
   font-family: 'CodecPro-Light';
}

.our-advantages__main-link{
   color:#FFFFFF;
}

.our-advantages__main-link .title-m{
   font-family: "CodecPro-Bold";
   font-size: 16px;
   line-height: 30px;

   margin-top: 28px;
}

.our-advantages__main-link .info-m{
   font-size: 14px;
   line-height: 22px;
   opacity: 0.6;
}

.main-video__item{
   width: 100%;
   height: auto;
}

.main-video__block{
   width: 100%;
   position: relative;
   margin-bottom:27px;
}

.play-stop__block{
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.play-stop__block span{
   position: relative;
   bottom: 27px;
   right: -72px;
   color: #FFFFFF;
   font-size: 14px;
   line-height: 34px;
}

.collection-slider__title-stories{
   font-family: "CodecPro-Bold";
   font-size: 16px;
   line-height: 14px;
}

.stories-slider__link-wrapper{
   width: 130px;
   height: 130px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   border-radius: 50%;

   border: 1px solid #FF5700;

   margin: 0 auto 10px;
}

.stories-slider__link{
   background-color: #F0E54C;
   border-radius: 50%;
   width: 122px;
   height: 122px;

   overflow: hidden;

   display: -webkit-box;

   display: -ms-flexbox;

   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.stor-sl-main-wrapp-link{
   text-align: center;
   width: 180px;
}

.stor-sl-main-wrapp-link span{
   font-size: 16px;
   line-height: 22px;
}

.stories-main__slider-block{
   margin-top: 40px;
}

.see-your-eyes-block{
   padding: 15px 68px 13px 14px;
   background-color:#FFF658;
   position: absolute;
   bottom:0;
   right: -50px;
   z-index: 100;
   font-size: 16px;
   line-height: 24px;
}

.see-your-eyes-block{
   margin: 0 0 0 auto;
}

.video-description-block span{
   margin-left: 125px;
   font-size: 10px;
   line-height: 8px;
}

.video-description-block{
   margin-bottom: 80px;
   text-align: right;
}

.main-slider-4{
   margin-top: 40px;
}

.main-slider-4 .coll-slider__link-photo__wrapper{
   width: 216px;
   height: 216px;
}

.main-slider-4 .coll-slider__link-photo__wrapper .coll-slider-product-img{
   max-height: 90%;
   max-width:90%;
}

.main-slider-main{
   margin-bottom: 23px;
}

.header-block.header-block__main{
   margin-bottom: 0;
}

.main-slider-1{
   margin-bottom: 80px;
   position: relative;
}

.stories-slider-main{
   margin-bottom: 80px;
}

.main-slider-2 {
   margin-top: 40px;
}

.main-slider-4{
   margin-bottom: 90px;
}

.swiper-slide{
   width: auto !important;
}

.main-slider-1 .coll-slider__link-photo__wrapper{
   max-width: 280px;
   max-height: 367px;
}

.l-arr img{
   transform: rotate(180deg);
}

.arrows-in-slider-in-main{
   position: absolute;
   z-index: 200;

   top: 170px;
}

.l-arr{
   left: -50px;
}

.r-arr{
   right: -50px;
}

.main-cont-sl-1{
   position: relative;
}

.main-container-2{
   position: relative;
}

.main-container-3 .arrows-in-slider-in-main{
 top: 95px;
}

.main-container-3{
   position: relative;
}

.main-container-stories{
   position: relative;
}

.arrows-in-stories-in-main{
   position: absolute;
}

.main-cont-top{
   display: none;
}



/*@media - main*/


@media(max-width:480px){
   .header-block {
      padding: 6px 0;
      margin-bottom: 23px;
   }

   .main-cont-top{
      display: block;
   }

   .main-links-block {
      display: block;
   }

   .main-links__item .circle{
      width: 28px;
      height: 28px;
   }

   .main-links__item span{
      font-size: 32px;
      line-height: 27px;

      margin: 0 8px 0 5px;
      letter-spacing: 2px;
   }

   .main-links__item .arrow{
      width: 25px;
      height: 25px;
   }

   .main-links__item:nth-child(1){
      margin-bottom: 28px;
   }

   .main-links-block{
      margin-bottom: 20px;
   }

   .coll-slider__link-photo__wrapper{
      margin-bottom: 17px;
   }

   .main-slider__signature-name{
      display: none;
   }

   .stories-slider__link-wrapper{
      width: 100px;
      height: 100px;
      margin-bottom: 8px;
   }

   .stories-slider__link{
      overflow: hidden;
      width: 94px;
      height: 94px;
   }

   .stor-sl-main-wrapp-link span{
      font-size: 12px;
      line-height: 16px;
   }

   .collection-slider__title{

   }

   .our-advantages-main__wrapper:after{
      width: 700px;
      height: 430px;
      transform: rotate(10deg);
   }

   .our-advantages__main-link{
      width: 50%;
   }

   .main-slider{
      width: 100%;
      height: auto;
   }

   .main-slider__item{
      width: 100%;
   }

   .our-advantages__main-content{
      flex-wrap: wrap;
   }

   .our-advantages__main-title{
      font-size: 10px;
      line-height: 20px;
      margin-bottom: 55px;
   }

   .our-advantages__main-link .title-m{
      font-size: 18px;
      line-height: 18px;
      font-family: "CodecPro-news";
      margin-bottom: 8px;
   }

   .our-advantages__main-link .info-m{
      font-size: 12px;
      line-height: 15px;
   }

   .our-advantages__main-link{
      margin-bottom: 40px;
   }

   .main-slider__signature-signatures{
      width: 100%;
   }

   .main-slider__signature-signatures{
      font-size: 10px;
      line-height: 8px;
   }

   .main-slider__signature{
      margin-bottom: 40px;
   }

   .main-links__item{
      margin-bottom: 40px;
   }

   .main-slider-2{
      margin-bottom:60px;
   }

   .our-advantages__main{
      padding-top: 15px;
   }

   .our-advantages-main__wrapper{
      margin-bottom: 340px;
   }

   .main-block-video{
      padding: 0;
   }

}











