/*Fonts*/

@font-face {
    font-family: 'CodecPro';
    src:url('../fonts/codec/CodecPro-ExtraBold.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-ExtraBold.woff') format('woff'),
    url('../fonts/codec/CodecPro-ExtraBold.svg#CodecPro-ExtraBold') format('svg'),
    url('../fonts/codec/CodecPro-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'CodecPro';
    src:url('../fonts/codec/CodecPro-News.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-News.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-News.woff') format('woff'),
    url('../fonts/codec/CodecPro-News.svg#CodecPro-News') format('svg'),
    url('../fonts/codec/CodecPro-News.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CodecPro';
    src:url('../fonts/codec/CodecPro-Light.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-Light.woff') format('woff'),
    url('../fonts/codec/CodecPro-Light.svg#CodecPro-Light') format('svg'),
    url('../fonts/codec/CodecPro-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'CodecPro';
    src:url('../fonts/codec/CodecPro-Bold.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-Bold.woff') format('woff'),
    url('../fonts/codec/CodecPro-Bold.svg#CodecPro-Bold') format('svg'),
    url('../fonts/codec/CodecPro-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'CodecPro';
    src:url('../fonts/codec/CodecPro-Heavy.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-Heavy.woff') format('woff'),
    url('../fonts/codec/CodecPro-Heavy.svg#CodecPro-Heavy') format('svg'),
    url('../fonts/codec/CodecPro-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'CodecPro';
    src:url('../fonts/codec/CodecPro-Regular.woff2') format('woff2'),
    url('../fonts/codec/CodecPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codec/CodecPro-Regular.woff') format('woff'),
    url('../fonts/codec/CodecPro-Regular.svg#CodecPro-Regular') format('svg'),
    url('../fonts/codec/CodecPro-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl';
    src:url('../fonts/SuisseIntl-SemiBold-WebXL.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl';
    src:url('../fonts/SuisseIntl-Bold-WebXL.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl';
    src:url('../fonts/SuisseIntl-Medium-WebXL.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl';
    src:url('../fonts/SuisseIntl-Regular-WebXL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl';
    src:url('../fonts/SuisseIntl-Black-WebXL.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}




/*sinteza 2.0*/
body{
   -webkit-box-sizing: border-box;
   box-sizing: border-box;

   overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
   margin: 0;
   padding: 0;
}

*,
*:before,
*:after{
   margin: 0;
   padding: 0;
}


/**/
/*Header*/
/***/
header{
   width: 100%;
}

.header-block{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding: 26px 00 50px;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.header-icon-1{
   width: 24px;
   height: 24px;
}

.header-icor-corcle{
   width: 37px;
   height: 37px;
   border-radius: 50%;
   background-color: #000000;
}

.header-left{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.header-left__link{
   margin-left: 25px;
   font-size: 13px;
   line-height: 11.5px;
}

.header-left__link-logo{
   text-align: center;
}

.header-left__link-logo span{
   font-size: 8px;
   line-height: 9px;
}

.header-left__link-logo span,
.header-left__link-logo img{
   display: block;
}



.header-right{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.header-telephone{
   padding-right: 14px;
   border-right: 1px solid #000000;
   font-size: 15px;
   line-height: 22px;
   color: #000000;
}

.header-right__icons{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-left: 11px;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.header-icon{
   margin-left: 4px;
}

/**/
/*Footer*/
/**/

footer{
   width: 100%;
}

.footer-wrapper{
/*   background-color: #FFF767;*/
}

.footer-top{
   padding-top: 141px;
   padding-bottom: 75px;
   background-color: #FFF767;
}

.footer-link__block{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
      -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.foter-link__block-item{
   width: 50%;
   margin-bottom: 65px;
}

.foter-link__block-item a{
   margin-right: 30px;
}

.foter-link__block-item a{
   font-size: 82px;
   text-decoration: none;
   color: #000000;
   line-height: 70px;
}

.mailing{
   width: 100%;
}

.mailing-text{
   width:465px ;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 40px;
}

.mailing-form{
   padding-bottom:5px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;

   width: 100%;
   border-bottom: 3px solid #000000;
}

.mailing-form input{
   outline: none !important;
   width: 300px;
   background-color: transparent;
   border: none;
   font-size: 14px;
   line-height: 24px;
}

.mailing-form input:active,
.mailing-form input:focus,{
   outline: none !important;
}

.mailing-form button{
   width: 172px;
   height: 38px;
   background-color: #000000;
   border: none;
   cursor: pointer;
}

.footer-bottom{
   width: 100%;
   padding-top: 64px;
   padding-bottom: 32px;
}

.footer-bottom__block{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.footer-bottom__left a,
.footer-bottom__left-right a{
   display: block;
   color: #000000;
   text-decoration: none;
   font-size: 10px;
   line-height: 27px;
}

.footer-bottom__left{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   width: 50%;
   margin-right: 150px;
}

.footer-bottom__right{
   width: 50%;
   margin-left: 150px;
}
.footer-bottom__right-top{
   margin-bottom: 54px;
}

.footer-bottom__right-top a{
   display: block;
   color: #000000;
}

.footer-bottom__right-top a:first-child{
   text-decoration: none;
}

.footer-bottom__right-top a,
.footer-bottom__right-top div{
   font-size: 10px;
   line-height: 22px;
}

.footer-bottom__right-bottom{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   font-size: 10px;
   line-height: 8px;
   color: #818181;
}

.footer--max{
   color: #818181;
}



/***/
/*main*/
/***/
.delivery-main{
}

.delivery-container{
   width: 100%;
   max-width: 1180px;
   margin: 0 auto;

}

.delivery-h1{
   font-family: 'CodecPro-Bold', sans-serif;
   font-size: 67px;
   line-height: 68px;
   font-weight: bold;
   margin-bottom: 50px;
}

.content{
   width: 100%;
}

.content-link{
   width: 100%;
   margin-bottom: 45px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.content-link_left{
   width: 40%;
   font-size: 16px;
   line-height: 20px;
}

.content-link_right{
}

.delivery-border{
    border-bottom: 1px solid #D8D8D8;
}

.content-link_right-info p{
   color: rgba(0, 0, 0, 0.4);
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 35px;
}

.content-link_right-info h4{
   font-size: 14px;
   line-height: 20px;
   margin-bottom: 8px;
}

.our-delivery{
   margin-bottom: 60px;
   margin-left: 15px;
   background-color: rgba(0, 89, 99, 0.8);
   padding-top: 26px;
   width: 100%;
}

.our-delivery-h{
   margin-bottom: 80px;
   font-size: 10px;
   line-height: 20px;
   color: #FFFFFF;
}

.our-delivery-h{
   font-size: 10px;
   line-height:20px;
}

.our-delivery__content-block{
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin-bottom: 80px;
}

.our-delivery__link{
   width: 311px;
}

.our-delivery__link-h{
   font-size: 40px;
   line-height: 46px;
   margin-bottom: 9px;
   color: #FFFFFF;
}

.our-delivery__link-info{
   color: #FFFFFF;
   opacity: 0.6;
   margin-bottom: 50px;
}

.delivery-map{
   width: 100%;
   height: 375px;
   position: relative;
}

.map-link{
   padding: 15px 75px 13px 17px;
   background-color: #000000;
   position: absolute;
   bottom:0;
   left:0;
   text-decoration: none;
   color: #FFFFFF
}





/**/
/*Страница Collection*/
/**/

.collection-container{
   width: 100%;
   margin: 0 auto;
   max-width: 1180px;
}

.collection-main-title{
   font-size: 67px;
   line-height: 68px;
   margin-bottom: 50px;
}

.collection-photo{
   position: relative;
}

.signature-photo{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin-bottom: 60px;
}

.signature-date{
   font-size: 16px;
   line-height: 19px;
}

.signeture__photo-video{
   font-size: 10px;
   line-height: 12px;
}

.signeture__photo-video span:nth-child(2){
   margin-left: 37px;
}

.colection-info{
   width: 100%;
   max-width: 894px;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 92px;
}

.collection-slider__title{
   font-size: 16px;
   line-height: 22px;
   margin-bottom: 28px;
}



/*Страница FAQ*/
.faq-container{
   width: 100%;
   max-width: 1180px;
   margin: 0 auto;
}

.faq-main-title{
   font-size: 120px;
   margin-bottom: 50px;
}

.faq-link{
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   position: relative;
   border-bottom: 3px solid #000000;
   min-height: 90px;
}

.faq-link__question{
   font-size: 14px;
   line-height:18px;
   width: 300px;
   margin-right: 100px;
   padding-top: 15px;
   margin-bottom: 40px;
}

.faq-link__answer{
   font-size: 16px;
   line-height: 24px;
   width: 570px;
   margin-bottom: 99px;
   display: none;
   padding-top: 15px;
}

.answer-display-block{
   display: block;
}

.faq-open-close{
   width: 152px;
   height: 38px;
   background-color:#FFF658;
   border: none;
   position: absolute;
   right:0;
   top: 5px;
}

.opened-answer{
   top: calc(100% - 38px - 5px);
}









